@import "src/assets/scss/variables.scss";

.app-wrapper {
  background-color: $base-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 40px;
  padding: 0 0 0 24px;
}

.main-body {
  flex-grow: 1;
}

.main-image {
  padding: 60px 0;

  .scarecrow-image {
    display: block;
    margin: 0 auto;
  }
}

.main-content {
  padding: 0 0 0 24px;
}

.main-footer {
}
