@import "src/assets/scss/variables.scss";

.body-title {
  display: block;
  @include content-font;
  font-size: 64px;
  font-weight: bold;
  line-height: 95px;
  letter-spacing: -0.035em;
  margin: 0 0 36px 0;
  color: $neutral-2-color;
}

.content-text {
  display: block;
  @include content-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.035em;
  margin: 0 0 64px 0;
  max-width: 381px;
  color: $neutral-4-color;
}

@media screen and (max-width: 1024px) {
  .body-title {
    font-size: 48px;
    line-height: 71px;
  }

  .content-text {
    font-size: 18px;
    line-height: 26px;
  }
}

@media screen and (max-width: 768px) {
  .body-title {
    margin: 0 0 30px 0;
  }

  .content-text {
    margin: 0 0 66px 0;
  }
}
