@import "src/assets/scss/variables.scss";

.copyright-text {
  @include copyright-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $neutral-1-color;
  text-align: center;
  margin: 0 auto;
}
